<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.CodeParser" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Data" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Data.Desktop" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.DataAccess" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Drawing" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Images" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Mvvm" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Controls" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Core" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Docking" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.ExpressionEditor" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Core" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Printing" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.LayoutControl" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Office" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Printing" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Ribbon" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.RichEdit" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.All" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.DXStyle" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.LightGray" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.MetropolisDark" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.MetropolisLight" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2007Black" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2007Blue" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2007Silver" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2010Black" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2010Blue" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2010Silver" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2013" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2013DarkGray" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2013LightGray" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016Black" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016BlackSE" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016Colorful" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016ColorfulSE" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016DarkGraySE" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016White" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016WhiteSE" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019Black" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019DarkGray" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019HighContrast" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019White" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Seven" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.TouchlineDark" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2010" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2017Blue" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2017Dark" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2017Light" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2019Blue" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2019Dark" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2019Light" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Win10Dark" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Win10Light" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Win11Dark" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Win11Light" version="24.1.4" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="24.1.4" targetFramework="net48" />
</packages>